.main-chat
  .main-header
    .main-header__left-box
      .main-header__left-box__group
        = @group.name
      .main-header__left-box__group__member-list
        Member：
        .main-header__left-box__group__member-list__menber
          - @group.group_users.each do |group_user|
            = group_user.user.name
    .main-header__edit-btn
      = link_to edit_group_path(@group.id) do
        Edit

  .main-message-list
    = render @messages
    / .main-message-list__content
    /   .main-message-list__content__history
    /     %p.main-message-list__content__history__sender masa
    /     %p.main-message-list__content__history__date 2020/1/1(Wed) 17:40:43
    /   %p.main-message-list__content__text おはよう！
  
      
  .main-message-form
    = form_for [@group, @message] do |f|
      .main-message-form__new-message
        .main-message-form__new-message__input-box
          = f.text_field :content, class: 'main-message-form__new-message__input-box__type-text', placeholder: 'type a message'
          = f.label :image, class: 'main-message-form__new-message__input-box__image' do
            = fa_icon 'image', class: 'icon'
            = f.file_field :image, class: 'hide'
        = f.submit 'Send', class: 'submit'